.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f1f1f;
  padding: 15px 30px;
  border-bottom: 1px solid #333;
  font-family: serif;
  position: relative;
}

.logo {
  color: #f1dba6;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.links a {
  text-decoration: none;
  color: #d8d3d3;
  font-size: 18px;
  transition: 0.3s;
}

.links h1 {
  cursor: pointer;
  color: #c96d6d;
  font-size: 18px;
}

.active {
  color: #dbb65e;
}

/* Hamburger */
.menuToggle {
  display: none;
  font-size: 26px;
  color: #f1dba6;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  .menuToggle {
    display: block;
  }

  .links {
    position: absolute;
    top: 60px;
    right: 0;
    background: #1f1f1f;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    display: none;
  }

  .show {
    display: flex;
  }
}
